<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="css/style.css">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Meerkat</title>

</head>
<body>
   <script>
      function on_submit() {
         var x = document.forms["pushform"]["note"].value;
         if (x == "") {
            alert("A note must have writing.");
            return false;
         }
      }
   </script>

   <h3>Meerkat</h3>
   
   <% if(loginpage){ %>
         <form name = "loginform" action="/" method="POST">
            <input name="username" type="text" value=""></input><br>
            <input name="pwd" type="password" value=""></input><br>
            <table>
               <tr>
                  <td><input name="loginbutton" type="submit" value="Login"></input></td>
                  <td><input name="newuserbutton" type="submit" value="New user"></input></td>
               </tr>
            </table>
         </form>
      <% } else { %>
         <form name = "logoutform" action="/" method="POST">
            Connected as <%= username %>. <input name="logoutbutton" type="submit" value="logout"></input>
            </form>
            <form name = "pushform" action="/" onsubmit="return on_submit()" method="POST">
            <textarea name="note" value=""></textarea> <br>
            <input name="membutton" type="submit" value="Remember"></input>
         </form>
         <div class="hashtags_container">
            <form name = "hashtagsform" action="/" method="POST">
               <button name="selected_hashtag" value="all" type="submit" class="hashtag">Show all</button>
               <% hashtags.forEach(function(ht) { %>
                  <input type="hidden" name="<%= ht.hashtag %>" value=<%= ht.selected%>>
                  <% if(ht.selected == true){ %>
                     <button name="selected_hashtag" value="<%= ht.hashtag %>" type="submit" class="selected"><%= ht.hashtag %></button>
                  <% } else { %>
                     <button name="selected_hashtag" value="<%= ht.hashtag %>" type="submit" class="hashtag"><%= ht.hashtag %></button>
                  <% } %>
               <% }); %>
            </form>
         </div>
            <div class="memory_container">
            <% notes.forEach(function(note) { %>
               
                  <div class="memory"><div class="date"><%= note.date %></div><%= note.text %></div>
               <% }); %>
            </div>
      <% } %>
   
</body>
</html>